<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Notes Web Application</title>
  <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">A very cool notes app</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/notes">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>        
        <form action="/notes/search" method="GET">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search for Notes"
            class="search"
          />
          <button class="search-btn" type="submit">Submit</button>
      <div class="imae"></div>
    </form>

      </ul>
    </nav>
    <br>
    <br>